!!!
%h1 Authentication succeeded
%p
  Token submitted:
  = request.POST['token']
  or in hex:
  = @settings.hex_unpack(request.POST['token'])
%p
  Token should have been:
  = @settings.token
  or in hex:
  = @settings.hex_unpack(@settings.token)
%ul
  - @settings.post.each do |key, val|
    %li= "#{key}: #{val}"
%ul
  %li
    url:
    = @settings.url
  %li
    referer:
    = @settings.referer
  %li
    ip:
    = @settings.ip
  %li
    seed:
    = @settings.seed