!!!
%h1 Authentication succeeded
%p
  Token submitted:
  = request.POST['token']
  or in hex:
  = hex_decompress(request.POST['token'])
%p
  Token should have been:
  = token
  or in hex:
  = hex_decompress(token)
%ul
  - request.POST.each do |key, val|
    %li= key+': '+val
%ul
  %li
    url
    = request.url
  %li
    referer
    = request.referer
  %li
    ip
    = "'"+request.ip+"'"
  %li
    seed
    = seed
